<% if signed_in? && current_user != user %>
  <%# <div id="follow-button-<%= user.id %>"> %>
    <% if current_user.following?(user) %>
      <%= render 'relationships/unfollow_btn', user: user %>
    <% else %>
      <%= render 'relationships/follow_btn', user: user %>
    <% end %>
  <%# </div> %>
<% end %>

<%# if signed_in? && current_user != @user %>
  <%# <div id="follow-button-<%= @user.id %>"> %>
    <%# if current_user.following?(@user) %>
      <%# render 'relationships/unfollow_btn', user: user %>
    <%# else %>
      <%# render 'relationships/follow_btn', user: user %>
    <%# end %>
  <%# </div> %>
<%# end %>
