.contents {
  width: 100vw;
  background-color: #99CCCC;
  display: flex;
}

.links {
  width: 10vw;
  background-color: #99CCCC;
  color: #002200;
  font-weight: bold;
  text-align: center;
}

.post-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;

.lists-left {

}

.list-left {
  background-color: white;
  border: 1px solid #444444;
}

.post-title {
  color: #444444;
}

.post-img-content {
  position: relative;
}

.post-img {
  width: 30vw;
  height: 30vh;
  text-align: center;
}

.lists-right {
  
}

.list-right {
  background-color: violet;
}

.user-nickname {
  color: #444444;
}